<section data-ng-controller="TicketsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="ticket.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == ticket.user._id">
		<a class="btn btn-primary" href="/#!/tickets/{{ticket._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<br><span data-ng-bind="ticket.data.created | date:'mediumDate'"></span>
			by
			<br><span data-ng-bind="ticket.data.user.displayName"></span>
			<br>{{ticket.data.ticketcategory.name}}
			<br>{{ticket.data.ticketcomment}}
			<br>{{ticket.data.description}}
			<br>{{ticket.data.due | date:'mediumDate'}}
		</em>
	</small>
</section>